%section#top-header.row
  %h1.col-md-2
    = link_to "Yelp"
  - if current_user
    %ul.col-md-4.clearfix
      %li= link_to "Business"
      %li= link_to "My Review"
      %li= link_to "People"
    = form_tag class: "span5 for-search", method: 'get' do
      %input.search-query(name="search_term" type="text" placeholder="Search for Bussiness  here")
      %button.btn.btn-default(type="submit") Search
    #user_links.pull-right
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            Welcome, #{current_user.username}
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              %a(href="#") Account
              = link_to "Sign Out" 
